CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
list.txt
build
doc
test
xz
mplayer
ffmpeg
librsvg
libsoup
libxslt
libxt
llvm
mplayer
gstreamer
pango
curl
lighttpd
DirectFB
gcc
glib
libg++
libstdc++
webrtc
contrib/*.git
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.[oa]
*.so
*~
!*
